chardet==             3.0.4             
deep-translator==     1.9.1               
idna==                2.8                                  
Mako==                1.1.0                        
matplotlib==          3.1.2                                 
pycairo==             1.16.2              
pydub==               0.25.1             
python-magic==        0.4.27              
PyYAML==              5.3.1              
scapy==               2.4.5               
scipy>=               1.3.3             
wheel==               0.34.2
PyBluez2
flask_cors 
Flask
Flask[async]
bleak
construct
keytotext
numpy==1.23.5
protobuf==3.20.0
opencv-python
flask_apscheduler