alabaster==           0.7.8               
appdirs==             1.4.4               
Babel==               2.6.0               
beautifulsoup4==      4.11.1              
certifi==             2019.11.28          
chardet==             3.0.4               
charset-normalizer==  2.1.1               
Click==               7.0                 
click-plugins==       1.1.1               
colorama==            0.4.3               
cycler==              0.10.0              
dbus-python==         1.2.16              
decorator==           4.4.2               
deep-translator==     1.9.1               
distro-info==         0.23ubuntu1         
docutils==            0.16                
html5lib==            1.0.1               
idna==                2.8                 
imagesize==           1.2.0               
Jinja2==              2.10.1              
kiwisolver==          1.0.1               
lxml==                4.5.0               
Mako==                1.1.0               
MarkupSafe==          1.1.0               
matplotlib==          3.1.2               
networkx==            2.4                 
numpy==               1.17.4              
olefile==             0.46                
packaging==           20.3                
Pillow==              7.0.0               
pip==                 20.0.2              
py==                  1.11.0              
pycairo==             1.16.2              
pydub==               0.25.1              
pygccxml==            1.9.1               
Pygments==            2.3.1               
PyGObject==           3.36.0              
PyOpenGL==            3.1.0               
pyparsing==           2.4.6               
PyQt5==               5.14.1              
pyqtgraph==           0.11.0rc0            
python-apt==          2.0.0+ubuntu0.20.4.8
python-dateutil==     2.7.3               
python-magic==        0.4.27              
pytz==                2019.3              
PyYAML==              5.3.1               
pyzmq==               18.1.1              
requests==            2.28.1              
requests-unixsocket== 0.2.0               
roman==               2.0.0               
scapy==               2.4.5               
scipy==               1.3.3               
setuptools==          45.2.0              
sip==                 4.19.21             
six==                 1.14.0              
soupsieve==           1.9.5               
Sphinx==              1.8.5               
thrift==              0.13.0              
unattended-upgrades== 0.1                 
urllib3==             1.25.8              
webencodings==        0.5.1               
wheel==               0.34.2